@font-face {
    font-family: Jay Gothic URW;
    src: url("fonts/jay-gothic-urw-bold.ttf");
}

@font-face {
    font-family: Open Sans;
    src: url("fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("fonts/Poppins-Regular.ttf");
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: Poppins;
    text-align: center;
    margin: 20px auto;
    font-size: 35px;
}

.yamaha {
    font-family: Jay Gothic URW;
    text-align: center;
    margin: 0 0 20px 0;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 40px;
}

.piano_box {
    width: 90%;
    margin: 0 auto;
    background-color: #131316;
    padding: 20px 35px 35px 35px;
    border-radius: 20px;
    user-select: none;
    position: relative;
}

.piano {
    height: 300px;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    width: 100%;
    margin: 0 auto;
}

.piano::-webkit-scrollbar {
    display: none;
}

.octave1,
.octave2,
.octave3,
.octave4,
.octave5,
.octave6 {
    display: flex;
    height: 100%;
    min-width: 469px;
}

/*_____ KEYS _____*/
.whitekey {
    width: 67px;
    background: linear-gradient(#fff 96%, #b3b3b3 4%);
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.whitekey:active {
    box-shadow: inset -5px -5px 20px rgb(172, 172, 172);
    /* background: rgb(230, 230, 230); */
    background: #fff;
    transform: scale(.99);
}

.black_key {
    background-color: #131316;
    width: 44px;
    height: 63%;
    margin: 0 -22px 0 -22px;
    z-index: 1;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    position: relative;
    background: linear-gradient(180deg, #3b3b3b 6%, rgba(0, 0, 0, 1) 100%);
}

.black_key:active {
    box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.1);
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(80, 80, 80));
}

.whitekey span {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    font-family: Poppins;
    color: rgb(90, 90, 90);
    font-size: 15px;
}

.black_key span {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-family: Poppins;
    color: #e6e6e6;
    font-size: 13px;
}

.octave_switches {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 10px;
    margin: 30px auto;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

.octave_switches > * {
    padding: 15px 15px;
    font-family: Poppins;
    font-size: clamp(12px, 2.4vw, 16px);
    color: white;
    text-decoration: none;
    background-color: #2e2e33;
    text-transform: uppercase;
    border-radius: 15px;
    text-align: center;
}

.octave_switches > *:hover {
    background-color: #4e4e4e;
}

